 <ion-view>
 <div class="bar-header z-depth-1 bar fixed-header grey lighten-5">
        <span>&nbsp;<img src="img/bosch-logo-in.png" alt=""></span>
        <span align="right" class="header-title">Categories</span>
    </div>
   
  <ion-content class="has-tabs">
    <div class="row content">
        <div class="col col-45 block waves-effect waves-grey z-depth-1 z-depth-1 waves-effect waves-grey">
            <img src="img/washersdryers.jpg" alt="" width="100%" class="bottom-line">
            <br>
            <center>
                <span class="product-title">Washers &amp; Dryers</span>
            </center>
        </div>
        <div class="col col-45 col-offset-10 block waves-effect waves-grey z-depth-1">
            <img src="img/refrigerators.jpg" alt="" class="bottom-line" width="100%;">
            <br>
            <center>
                <span class="product-title">Refrigerators</span>
            </center>
        </div>
    </div>
    <div class="row">
        <div class="col col-45 block waves-effect waves-grey z-depth-1" ng-click="dishdetails()">
            <img src="img/dishwasher.jpg" alt="" class="bottom-line" width="100%">
            <br>
            <center>
                <span class="product-title">Dishwashers</span>
            </center>
        </div>
        <div class="col col-45 col-offset-10 block waves-effect waves-grey z-depth-1">
           <img src="img/cookingbaking.jpg" alt="" class="bottom-line" width="100%;">
           <br>
           <center>
               <span class="product-title">Cooking &amp; Baking</span>
           </center>
        </div>
    </div>
    <div class="row">
        <div class="col col-45 block waves-effect waves-grey z-depth-1">
            <img src="img/kitchentools.jpg" alt="" class="bottom-line" width="100%;">
            <br>
            <center>
                <span class="product-title">Kitchen Tools</span>
            </center>
        </div>
        <div class="col col-45 block waves-effect waves-grey z-depth-1">
            <img src="img/coffeemaker.jpg" alt="" class="bottom-line" width="100%;">
            <br>
            <center>
                <span class="product-title">Coffee Maker</span>
            </center>
        </div>
    </div>
  </ion-content>
    
    <div class="bar bar-footer bar-stable copyright">
      <div class="title">&copy; Copyright</div>
    </div>
</ion-view>
